In [69]:
import pandas as pd
import pickle

In [72]:
dtm = pd.read_pickle('dtm_text_2.pkl')
df = dtm.transpose()
df.head()

   rating                                               text
0       1  mens ultrasheer model may ok sedentary types i...
1       4  surprisingly delightful fast read filled unexp...
2       2  works advertised bought one chargersthe instru...
3       2  oh dear excited find book ostensibly muslim fe...
4       2  incorrect disc big jvc fan like model suspisci...

In [73]:
nb_model = pd.DataFrame(index = dtm.index)
for index, col in enumerate(dtm.columns):
    rows =[]
    for i, rank in enumerate(dtm.rating):
        rows.append((dtm.iloc[i,index]+1)/(sum(dtm.iloc[:,rank])+dtm.shape[1]))
    nb_model[col] = rows

In [74]:
row = []
sum_rank = 0
for index, rank in enumerate(dtm.rating):
    row.append(sum(dtm.iloc[index,:]))
    sum_rank += sum(dtm.iloc[index,:])

for i in range(0, len(row)):
    row[i] = row[i]/sum_rank
    
nb_model["probability_score$"] = row

In [75]:
nb_model.head()

,aa,aaa,aaaa,aaaaa,aaaaaaa,aaaaaah,aaaaaargh,aaaaargh,aaaah,aaaahhhh,...,éxitos,ítem,última,últimas,último,única,único,útil,über,probability_score$
rating,,,,,,,,,,,,,,,,,,,,,
5,0.001048,0.000559,0.000057,0.000044,0.000013,0.000006,0.000006,0.000013,0.000006,0.000013,...,0.000013,0.000006,0.000019,0.000006,0.000025,0.000019,0.000032,0.000013,0.000006,0.232163
4,0.001338,0.000698,0.000013,0.000013,0.000013,0.000013,0.000013,0.000013,0.000006,0.000006,...,0.000013,0.000006,0.000025,0.000019,0.000032,0.000032,0.000070,0.000006,0.000025,0.254986
1,0.001061,0.000483,0.000025,0.000025,0.000013,0.000006,0.000019,0.000013,0.000013,0.000019,...,0.000013,0.000032,0.000013,0.000013,0.000013,0.000013,0.000019,0.000013,0.000013,0.246340
2,0.001245,0.000629,0.000013,0.000006,0.000006,0.000019,0.000006,0.000006,0.000019,0.000006,...,0.000006,0.000006,0.000006,0.000006,0.000025,0.000013,0.000044,0.000013,0.000006,0.266510

In [86]:
nb_model.to_pickle("bayes_model_3.pkl")