# Sentiment Analysis

In [10]:
import pandas as pd
from textblob import TextBlob
import numpy as np
import math

In [11]:
data = pd.read_pickle('data_clean.pkl')
data

   rating                                               text
0       5  inspiring hope lot people hear cd need strong ...
1       4  chrono cross ost music yasunori misuda without...
2       1  buyer beware selfpublished book want know whyr...
3       2  sizes recomended size chart real sizes much sm...

In [12]:
pol = lambda x: TextBlob(x).sentiment.polarity
sub = lambda x: TextBlob(x).sentiment.subjectivity

data['polarity'] = data['text'].apply(pol)
data['subjectivity'] = data['text'].apply(sub)
data

,rating,text,polarity,subjectivity
0,5,inspiring hope lot people hear cd need strong ...,0.271054,0.551609
1,4,chrono cross ost music yasunori misuda without...,0.225417,0.522416
2,1,buyer beware selfpublished book want know whyr...,-0.012186,0.520472
3,2,sizes recomended size chart real sizes much sm...,0.076352,0.516957

In [13]:
long_data = pd.read_pickle('corpus_divided.pkl')
long_data.head()

   rating                                               text
1       5  inspiring i hope a lot of people hear this cd ...
2       5  the best soundtrack ever to anything im readin...
3       4  chrono cross ost the music of yasunori misuda ...
4       5  too good to be true probably the greatest soun...
5       5  theres a reason for the price theres a reason ...

In [14]:
long_data['polarity'] = long_data['text'].apply(pol)
long_data['subjectivity'] = long_data['text'].apply(sub)
long_data.head()

,rating,text,polarity,subjectivity
1,5,inspiring i hope a lot of people hear this cd ...,0.445076,0.541098
2,5,the best soundtrack ever to anything im readin...,0.261111,0.517460
3,4,chrono cross ost the music of yasunori misuda ...,0.283750,0.420000
4,5,too good to be true probably the greatest soun...,0.220556,0.487222
5,5,theres a reason for the price theres a reason ...,0.250000,0.500000

In [15]:
for rating in long_data.rating.unique():
#     print(long_data.where(long_data.rating == rating).polarity.sum(axis=0, skipna=True))
    polar = long_data.where(long_data.rating == rating).polarity.sum(axis=0, skipna=True)
    subject = long_data.where(long_data.rating == rating).subjectivity.sum(axis=0, skipna=True)
    size = long_data.where(long_data.rating == rating).count()
    print("polarity of " +str(rating) +": ")
    print(polar/size.rating)
    print("subjectivity of " +str(rating) +": ")
    print(subject/size.rating)

polarity of 5:
0.29952910038161396
subjectivity of 5:
0.5633266393730282
polarity of 4:
0.24461812467185023
subjectivity of 4:
0.5377236389641691
polarity of 1:
-0.027758092447830923
subjectivity of 1:
0.5197103723960002
polarity of 2:
0.07009575053312123
subjectivity of 2:
0.5210314388067305

In [16]:
title = pd.read_pickle("title.pkl")
title.head()

   rating                                 title
1       5                             inspiring
2       5  the best soundtrack ever to anything
3       4                      chrono cross ost
4       5                   too good to be true
5       5         theres a reason for the price

In [17]:
title['polarity'] = title['title'].apply(pol)
title['subjectivity'] = title['title'].apply(sub)
title.head()

   rating                                 title  polarity  subjectivity
1       5                             inspiring     0.500         1.000
2       5  the best soundtrack ever to anything     1.000         0.300
3       4                      chrono cross ost     0.000         0.000
4       5                   too good to be true     0.525         0.625
5       5         theres a reason for the price     0.000         0.000

In [18]:
for rat in title.rating.unique():
    polar = title[title["rating"]==rat].polarity.sum(axis=0, skipna=True)
    subject = title[title["rating"]==rat].subjectivity.sum(axis=0, skipna=True)
    size = title[title["rating"]==rat].count()
    print("polarity of " +str(rat) +": ")
    print(polar/size.rating)
    print("subjectivity of " +str(rat) +": ")
    print(subject/size.rating)

polarity of 5:
0.35946480309137047
subjectivity of 5:
0.4430955155955156
polarity of 4:
0.30501416856285085
subjectivity of 4:
0.4310858235766728
polarity of 1:
-0.15773605283605283
subjectivity of 1:
0.34991365837227906
polarity of 2:
-0.04033305899916639
subjectivity of 2:
0.3626684691147778